.action-item {
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    user-select: none;
}

.js-tweet-text-container {
    padding: 10px 0 10px;
    color: #000;
}

.stream-item-header span {
    margin-right: 5px;
}

span.account-name {
    color: black;
    font-weight: bolder;
}

.post-item:hover {
    background-color: #F5F8FA;
}